{% extends "base.html" %}
{% block title %} Search Results {% endblock %}

{% block content %}
    <div class="container" style="width: 50%">
        <p></p>
        <p>You filtered phones prices under: <strong>{{ min }}</strong></p>
        <p>...and phones prices greater: <strong>{{ max }}</strong></p>

        {% if phones %}
            <p>Found {{ phones|length }} phones{{ phones|pluralize }}. (with price and capacity)</p>
            <ul class="list-group">
                {% for phone in phones %}
                    <li class="list-group-item list-group-item-info">
                        {{ phone.name }} @ {{phone.price}} $ {{phone.capacity}} GB
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No phones matched your search criteria.</p>
        {% endif %}
    </div>

{% endblock %}